<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Best Players</title>{% endblock %}
  <meta charset="UTF-8" />
  <title>Lorem Ipsum</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  <h1>test</h1>
  <form action="{% url 'bestplayers'%}" method="post"> 
    {% csrf_token %}
    <button type="submit" name="Refresh" value="RefreshList">Refresh</button>
  </form>
  <table>
    <tbody>
      {% for pl in topplayers %}
      <tr>
        {% for l in pl}
          <td>{{l}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>