<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Best Players</title>{% endblock %}
  <meta charset="UTF-8" />
  <title>Lorem Ipsum</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  <h1>test</h1>
  <form action="{% url 'bestplayers'%}" method="post"> 
    {% csrf_token %}
    <button type="submit" name="Refresh" value="RefreshList">Refresh</button>
    <p>last refreshed on {{refreshedtime}}</p>
  </form> 
  <table style="width:100%">
    <tr>
      <th>tes 1</th>
      <th>tes 2</th>
      <th>tes 3</th>
    </tr>
      {% for pl in toplayers %}
      <tr>
          <td>{{pl.0}}</td>
          <td>{{pl.1}}</td>
          <td>{{pl.2}}</td>
      </tr>
      {% endfor %}
  </table>
</body>
</html>