.index
    {
        font-size: 20px;
    }
    .name
    {
        float: none;
        margin-top: -2px;
        margin-bottom: 1px;
    }
.header 
    {
    margin: 0px;
    position: sticky;
    padding: 10px;
    margin: 0;
    background: #000000;
    color: white;
    font-size: 10px;
    border: 20px groove #000000;
    }
    .playername
    {
        position: right;
        color: white;
        font-size: 30px;
    }
    .Same{
        float: right;
        margin-top: 1px;
        margin-bottom: 1px;
        
    }
    .Search + h1{
        margin-top: -5px;
        margin-bottom: 1px;
    }
    .Profilepic {
        position: relative;
        border-radius: 50%;
    }
    h1 + .Profilepic {
        margin-bottom: -1px;
    }
.playerstats {
    float:left;
    margin: 0px;
    background: #ccc5c5;
    color: white;
    font-size: 10px;
    width: 40%;
    height: 160px;
    outline: groove #000000;
    }
    .LP {
        float: right;

    }
    .RefreshSearch {
        float: right;
        
    }
.tes {
    float: right;
    display: flex;
    background: #ccc5c5;
    color: white;
    font-size: 10px;
    width: 60%;
    height: 160px;
    outline: groove #000000;
}
.matchesholder {
    float: right;
    display: grid;
    background: #ccc5c5;
    color: white;
    font-size: 10px;
    width: 100%;
    outline: groove #000000;
    }
    .matchholder {
        height: 200px;
        width: 100%;
        outline: groove #000000;
        display: flex;
        }
        .matchstats {
            float: left;
            width: 85%;
            outline: groove #000000;
            display: flex;
            }
            
            .placementhold {
                width: 15%;
                outline: groove #000000;
                vertical-align: top;
                position: relative;
                }
                .placement {
                    position: absolute;
                    font-size: 5.0em;
    
                }
            .otherstats {
                width: 85%;
                outline: groove #000000;
                }
                .timestuff {
                    display: inline;
                    }
                .traitcontainer {
                    display: inline;
                    }
                    .traitimg {
                        filter: invert(1);
                    }

                .unitcontainer {
                    display: inline-block;
                    
                    }
                    .starhold {
                        align-content: center;
                        }
                        /* the filter is colour calculated with https://codepen.io/sosuke/pen/Pjoqqp */
                        .star1 {
                            width: 13px;
                            height: 13px;
                            filter: brightness(0) saturate(100%) invert(29%) sepia(0%) saturate(1%) hue-rotate(227deg) brightness(101%) contrast(83%);
                        }
                        .star2 {
                            width: 13px;
                            height: 13px;
                            filter: brightness(0) saturate(100%) invert(32%) sepia(66%) saturate(1657%) hue-rotate(108deg) brightness(91%) contrast(97%);
                        }
                        .star3 {
                            width: 13px;
                            height: 13px;
                            filter: brightness(0) saturate(100%) invert(14%) sepia(32%) saturate(5929%) hue-rotate(241deg) brightness(93%) contrast(136%);
                        }
                        .star4 {
                            width: 13px;
                            height: 13px;
                            filter: brightness(0) saturate(100%) invert(12%) sepia(92%) saturate(5051%) hue-rotate(289deg) brightness(69%) contrast(105%);
                        }
                        .star5 {
                            width: 13px;
                            height: 13px;
                            filter: brightness(0) saturate(100%) invert(70%) sepia(80%) saturate(3503%) hue-rotate(13deg) brightness(99%) contrast(98%);
                        }
                    .unitimg1 {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        object-position: 100% 20%;
                        border: 2px solid #545454;
                    }
                    .unitimg2 {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        object-position: 100% 20%;
                        border: 2px solid #048a21;
                    }
                    .unitimg3 {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        object-position: 100% 20%;
                        border: 2px solid #16048a;
                    }
                    .unitimg4 {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        object-position: 100% 20%;
                        border: 2px solid #7a048a;
                    }
                    .unitimg5 {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        object-position: 100% 20%;
                        border: 2px solid #d39f03;
                    }
                
                    .item {
                        display: inline;
                        width: 13px;
                        height: 13px;
                    }
                    .emptyitem {
                        display: inline;
                        visibility: hidden;
                        width: 13px;
                        height: 13px;
                    }

                    


        .participants {
            float: left;
            width: 15%;
            outline: groove #000000;
        }
        
    
h1 {
    color: #ffffff;
}

