{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div class="index">
        <h1 class="name"><a href="/">tes</a></h1>
    </div>
    <meta charset="UTF-8">
    <title>{{player}}</title>
    <link rel="stylesheet" href="../../../static/css/player.css">
</head>
<body>
    <div class="header">
        <form class ='Search' action={% url 'index'%} method="POST" >
            {% csrf_token %}
            <p class='Same'><input type="submit" value="Submit"/></p>      
            <p class='Same'><input type="text" name="inp_number" placeholder="summoner name"/></p>        
        </form>
        <h1 class='playername'>{{player}}</h1>
        <img class='Profilepic' src="{{profpic}}" style="width: 15%; height: 15%;" alt="{{profpic}}">
    </div>
    
    <p>obamna</p>
</body>
</html>