{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div class="index">
        <h1 class="name"><a href="/">tes</a></h1>
    </div>
    <meta charset="UTF-8">
    <title>{{player}}</title>
    <link rel="stylesheet" href="../../../static/css/player.css">
</head>
<body>
    <div class="header">
        <form class ='Search' action={% url 'index'%} method="POST" >
            {% csrf_token %}
            <p class='Same'><input type="submit" name="searchPl"value="Submit"/></p>      
            <p class='Same'><input type="text" name="inp_number" placeholder="summoner name"/></p>        
        </form>
        <h1 class='playername'>{{player}}</h1>
        <img class='Profilepic' src="{{profpic}}" style="width: 10%; height: 10%;" alt="{{profpic}}">
    </div>
    <div class="playerstats">
        <h1 class="rank">{{ stats.tier }}</h1>
        <h1 class="LP">{{ stats.LP }}</h1>
        <img class="rankicon" src="{{ rankicon }}" style="width: 30%; height: 50%;" alt="{{ rankicon }}">
        <form class='RefreshSearch' method="POST"> 
            {% csrf_token %}
            <button type="submit" name="Refresh" value="RefreshList">Refresh</button>
        </form>
    </div>
    <div class="tes">
        <p class="tedds">swag</p>
    </div>
    <section class="matchesholder">
        {% for match in matches %}
        <div class="matchholder" style="width: 100%;">
            <div class="matchstats">
                
            </div>
            <div class="participants">
                
            </div>
            
        </div>
        {% endfor %}
    </section>
        
</body>
</html>