{% load static %}
{% load rangetemptag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div class="index">
        <h1 class="name"><a href="/">tes</a></h1>
    </div>
    <meta charset="UTF-8">
    <title>{{player}}</title>
    <link rel="stylesheet" href="../../../static/css/player.css">
</head>
<body>
    <div class="header">
        <form class ='Search' action={% url 'index'%} method="POST" >
            {% csrf_token %}
            <p class='Same'><input type="submit" name="searchPl"value="Submit"/></p>      
            <p class='Same'><input type="text" name="inp_number" placeholder="summoner name"/></p>        
        </form>
        <h1 class='playername'>{{player}}</h1>
        <img class='Profilepic' src="{{profpic}}" style="width: 10%; height: 10%;" alt="{{profpic}}">
    </div>
    <div class="playerstats">
        <h1 class="rank">{{ stats.tier }}</h1>
        <h1 class="LP">{{ stats.LP }}</h1>
        <img class="rankicon" src="{{ rankicon }}" style="width: 30%; height: 50%;" alt="{{ rankicon }}">
        <form class='RefreshSearch' method="POST"> 
            {% csrf_token %}
            <button type="submit" name="Refresh" value="RefreshList">Refresh</button>
        </form>
    </div>
    <div class="tes">
        <p class="tedds">swag</p>
    </div>
    <section class="matchesholder">
        {% for match in matches %}
        <div class="matchholder" style="width: 100%;">
            <div class="matchstats">
                <div class="placementhold">
                    <h1 class="placement">{{match.placement}}</h1>
                    
                </div>
                <div class="otherstats">
                    <div class="timestuff">
                        <h1 class='timetilldeath'>{{match.game_length}} - {{match.game_time}} ago</h1>
                    </div>
                    <div class="traits">
                        {% for trait in match.traits %}
                            <div class="traitcontainer">
                                <img class="traitimg" src={{trait.imageIcon}}>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="units">
                        {% for unit in match.champions %}
                            <div class="unitcontainer">
                                
                                    {% if unit.Rarity == 1 %}
                                        <div class="starhold">
                                            {% for star in unit.Star|get_range %}
                                                <img class="star1" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png">
                                            {% endfor %}
                                        </div>
                                        <img class ="unitimg1" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}.png"  onerror="this.onerror=null; this.src='https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png'" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png">
                                        <div class="itemhold">
                                            {% for item in unit.Items %}
                                                {% if item != "" %}
                                                    <img class="item" src={{item}}>
                                                {% else %}
                                                    <img class="emptyitem" src="">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                            
                                    {% elif unit.Rarity == 2 %}
                                        <div class="starhold">
                                            {% for star in unit.Star|get_range %}
                                                <img class="star2" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png">
                                            {% endfor %}
                                        </div>
                                        <img class ="unitimg2" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}.png"  onerror="this.onerror=null; this.src='https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png'" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png">
                                        <div class="itemhold">
                                            {% for item in unit.Items %}
                                                {% if item != "" %}
                                                    <img class="item" src={{item}}>
                                                {% else %}
                                                    <img class="emptyitem" src="">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% elif unit.Rarity == 3 %}
                                        <div class="starhold">
                                            {% for star in unit.Star|get_range %}
                                                <img class="star3" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png">
                                            {% endfor %}
                                        </div>  
                                        <img class ="unitimg3" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}.png"  onerror="this.onerror=null; this.src='https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png'" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png">
                                        <div class="itemhold">
                                            {% for item in unit.Items %}
                                                {% if item != "" %}
                                                    <img class="item" src={{item}}>
                                                {% else %}
                                                    <img class="emptyitem" src="">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% elif unit.Rarity == 4 %}
                                        <div class="starhold">
                                            {% for star in unit.Star|get_range %}
                                                <img class="star4" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png">
                                            {% endfor %}
                                        </div>
                                        <img class ="unitimg4" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}.png"  onerror="this.onerror=null; this.src='https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png'" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png">
                                        <div class="itemhold">
                                            {% for item in unit.Items %}
                                                {% if item != "" %}
                                                    <img class="item" src={{item}}>
                                                {% else %}
                                                    <img class="emptyitem" src="">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% elif unit.Rarity == 5 %}
                                        <div class="starhold">
                                            {% for star in unit.Star|get_range %}
                                                <img class="star5" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png">
                                            {% endfor %}
                                        </div>
                                        <img class ="unitimg5" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}.png"  onerror="this.onerror=null; this.src='https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png'" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png">
                                        
                                        <div class="itemhold">
                                            {% for item in unit.Items %}
                                                {% if item != "" %}
                                                    <img class="item" src={{item}}>
                                                {% else %}
                                                    <img class="emptyitem" src="">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="starhold">
                                            {% for star in unit.Star|get_range %}
                                                <img class="star5" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/notificationicons/goldstar.png">
                                            {% endfor %}
                                        </div>
                                        <img class ="unitimg5" src="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}.png"  onerror="this.onerror=null; this.src='https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png'" alt="https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/{{unit.Name}}.tft_set{{match.set_number}}_stage2.png">
                                        <div class="itemhold">
                                            {% for item in unit.Items %}
                                                {% if item != "" %}
                                                    <img class="item" src={{item}}>
                                                {% else %}
                                                    <img class="emptyitem" src="">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="participants">
                {% for participant in match.otherparticipants %}
                    <li class="name"><a  href="/players/{{participant}}">{{participant}}</a></li>
                {% endfor %}
            </div>
            
        </div>
        {% endfor %}
    </section>
        
</body>
</html>